.active {
    color: rgb(168 85 247);
}

a:hover {
    color: rgb(168 85 247);
    /* text-decoration: underline; */
    transition: 0.5s ease-out;
}

/* *,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    background-color: rgb(168 85 247);
    height: 2px;
    width: 0px;
    left: 0;
    bottom: -10px;
    transition: 0.7s ease-in-out;
}


a:hover:after {
    width: 100%;
} */